{
  "presets": [
    // Transpile React components to JavaScript
    "react",
    // webpack understands the native import syntax, and uses it for tree shaking
     "es2015", "es2017",
    "stage-0"
  ],
  "sourceMaps": "both",
  "env": {
    "dev": {
      "plugins": [
        // Enables React code to work with HMR.
        "react-hot-loader/babel"
      ]
    },
    "test": {
      "plugins": [
        // Enables React code to work with HMR.
        "react-hot-loader/babel",
        "babel-plugin-istanbul"
      ]
    }
  }
}
