{
  "env": {
    "dev": {
      "presets": [ "es2015", "stage-0", "react", "react-hmre" ],
      "plugins": [ "react-hot-loader/babel" ]
    },
    "test": {
      "presets": [ "es2015", "stage-0", "react" ],
      "plugins": [ "react-hot-loader/babel" ]
    },
    "prod": {
      "presets": [ "es2015", "stage-0", "react" ]
    }
  }
}
