<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="data-git-commit" content="<%= htmlWebpackPlugin.options.gitCommit %>">
  <meta name="data-git-date" content="<%= htmlWebpackPlugin.options.commitDate %>">
  <meta name="data-version" content="<%= htmlWebpackPlugin.options.version %>">
  <meta name="data-build-date" content="<%= htmlWebpackPlugin.options.buildDate %>">
  <meta name="description" content="<%= htmlWebpackPlugin.options.meta.description %>"/>
  <title>Mortgage calc</title>
</head>
<body>
<div id="root">
  <div class="ui text active loader">&nbsp;</div>
</div>
</body>
</html>
